
.overlay {
    position: abosolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}  

.show-overlay {
    display: block;
}


/* hover para los elementos del navbar */
.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--background);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
} 

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}


/* CARRITO 
animacion HOVER */


.cart-icon {
    transition: all 0.2s ease-out;
} 

.cart-icon:hover {
    color: var(--background);
    border-color: var(--background);
    transition: all 0.2s ease-in;
} 

/* BOTONES DEL CARRITO */
.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: var(--background);
    transition: all 0.2s ease-in;
}


.btn-hero {
    transition: all 0.3s ease-in;
}

.btn-hero:hover {
    color: black;
}

/* descubrinos */
.descubrinos-cards img {
    transition: all 0.2s ease-in;
}

.descubrinos-cards img:hover {
    filter: saturate(180%);
}

.descubrinos-cards img {
    transition: all 0.6s ease-in;
}

.descubrinos-cards img:hover {-webkit-transform: scale(1.3);transform: scale(1.3);} 

/* boton de enviar del footer */
.btn-footer:hover {
    background-color: var(--btn-secundari); 
    transform: scale(1.1);
}