@media (max-width: 573px) {
    .navbar-list {
        display: none;
    }
    .menu-label {
        display: block;
    }

    .hero-info h1 {
        min-width: 100px;
        font-size: 32px;
    } 

    #info h2 {
        text-align: center;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }


    #descubrinos h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 23px;
    } 

    #descubrinos p {
        display: flex;
        font-size: 15px;
    }
/* 
    .descubrinos-info h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: px;
    }

    .descubrinos-text p {
        display: flex;
        text-align: center;
        } */

}