@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:wght@300;400;700;900&family=League+Gothic&family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --background: #FCFDFD;
    --text-black: #040505;
    --btn-secundari:#E8252E;
    --grey:#BDBEA0;
    --marroncito: #B4994D;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins',sans-serif;
} 

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
} 

body {
    width: 100%;
    min-height:  100vh;
} 


.section-container {
    background-color: var(--text-black);
}

header {
    background-color: #13181C;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    margin: 0 auto;
} 

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 

.navbar {
    gap: 20px;
    flex: 1;
} 

.navbar-list {
    gap: 35px;
} 

.navbar-list a {
    color: #FCFDFD;
    font-size: 14px;
    font-weight: 600;
}  

.fa-solid.fa-wine-glass {
    color: var(--background);
    font-size: 2rem;
    flex: 0;
}

.hero-img {
    height: 650px;
    width: 100%;
}

.cart-icon {
    border: 1px solid var(--background);
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
    color: #FCFDFD;
    cursor: pointer;
} 

/* menu hamburguesa */
.menu-label {
    display: none;
    color: var(--background);
} 


/* carrito */
.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 84%, rgba(139,16,1,1) 99%, rgba(153,8,8,1) 99%);
    border-left: 1px solid var(--background);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 68px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
} 

.cart.show-cart {
    transform: translate(0%);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}  

.btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding:15px 10px;
    background: var(--background);
    color: var(--text-black);
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
} 

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: var(--background);
    color: var(--text-black);
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* ocultar barra de scroll del carrito */

.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    color: var(--background);
    font-size: 20px;
    font-weight: 600;
} 

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #E8252E;
    padding: 20px;
    border: 1px solid var(--background);
    border-radius: 5px;
} 

.cart-item img {
    height: 65px;
    width: 65;
} 

.cart-card {
    display: flex;
    flex-direction: row;
    gap:15px;
    color: var(--background);
} 

.cart-card .product-name {
    flex: 1;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-height: 110px;
}  

.item-title {
    color: var(--background);
    font-weight: 300;
    font-size: 12px;
} 

.item-bid {
    color: var(--btn-secundari);
    font-weight: 300;
    font-size: 12px;
}

.item-price {
    background: var(--btn-secundari);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
} 

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: var(--background);
    font-weight: 400;
}

.item-quantity {
    color: var(--btn-secundari);
} 

.up {
    border: 1px solid var(--background);
}

.down {
    background-color: var(--btn-secundari);
    border: 1px solid var(--background);
}

.divider {
    margin-top: 20px;
    border: 0.5px solid var(--background);
    width: 100%;
} 

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: var(--background);
    font-weight: 700;
}

.cart-total span {
    color: var(--background);
    font-weight: 400;
    font-size: 18px;
}

/* togggle del carrito */
.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: var(--btn-secundari);
    font-size: 14px;
} 

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero {
    background-image: url(./assets/hero\ vino.jpg);
    margin-top: 65px;
    padding: 70px 0;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.hero-info {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    width: 70%;
} 

.hero-info h1 {
    display: flex;
    text-align: center;
    color: var(--background);
    font-size: 48px;
    width: 100%;
    min-width: 500px;
    font-weight: 700;
} 

.hero-info p {
    text-shadow: 1px 1px 2px black;
    color: var(--background);
} 

.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color:var(--btn-secundari);
    height: 50px;
    width: 250px;
    border-radius: 5px;
    color: var(--background);
} 

/* INFO CARDS */
#info {
    padding: 70px 0; 
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
} 

#info h2 {
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: 800;
} 

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 300px;
    height: 300px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--grey);
    border-radius: 10px;
    gap: 20px;
} 

.info-card img {
    width: 50px;
    border-radius: 100%;
    background-color: var(--btn-secundari);
} 

.info-card h3 {
    font-weight: 600;
    font-size: 18px;
} 

.info-card p {
    font-size: 14px;
    font-weight: 300;
} 

/* DESCUBRINOS */
#descubrinos {
    padding: 70px 0;
    max-width: 1200px;
}

.descubrinos-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
} 

#descubrinos h2 {
    font-size: 30px;
    width: 45%;
    font-weight: 800;
}

.descubrinos-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
}

.descubrinos-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
} 

.descubrinos-bar h3 {
    color: var(--btn-secundari);
    font-family:'Great Vibes', sans-serif ;
    font-size: 35px;
} 

.descubrinos-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descubrinos-cards .descubrinos-img {
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    cursor: pointer;
}  

/* products */

#products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
    width: 100%;
}

#products h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 40px;
} 

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
} 

.category {
    background: var(--background);
    padding: 10px 15px;
    color: var(--text-black);
    border-radius: 5px;
    cursor: pointer;
}  

.active {
    background-color: var(--btn-secundari);
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    max-width: 1200px;
}

.product {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    -webkit-animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
} 

.product-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px 0.1px rgb(186, 175, 175);;
    min-height: 100px;
    min-width: 40%;
}

.product-card .product-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100px;
    height: 100px;
    flex: 0;
}

.product-card .product-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
} 

.product-description h3 {
    color: var(--btn-secundari);
}

.product-card .product-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-card .product-bid {
    flex: 0;
    color: var(--btn-secundari);
} 

.btn-agregar {
    border: 0.5px solid;
    padding: 2px 10px;
    cursor: pointer;
    background: var(--background);
    font-weight: 400;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.5s;
} 



.btn-load {
    background: none;
    border: 1px solid var(--text-black);
    padding: 10px 20px;
    color: var(--bg-white);
    border-radius: 5px;
    cursor: pointer;
    } 
    /* formulario */

    .formulario {
    background-image: url(./assets/map\ para\ integrador.png);
    display: flex;
    gap: 15px;
    padding: 70px 0;
    width: 100%;
    height: 500px;
    }  

    .footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: var(--text-black);
    height: 100px;
    width: 100%;
    }

    .footer-title h3 {
        color: var(--background);
        font-family:'Great Vibes', sans-serif ;
        font-size: 35px;
    }

    .form-container {
    background-color: var(--marroncito);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 18px 10px 60px 0px rgba(0,0,0,0.68);
    -webkit-box-shadow: 18px 10px 60px 0px rgba(0,0,0,0.68);
    -moz-box-shadow: 18px 10px 60px 0px rgba(0,0,0,0.68);
    margin: 0 auto;
    height: 600px;
    width: 400px;
  } 

    .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

    #input-contact {
    display: flex;
    padding: 12px 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--text-black);
    border-radius:5px ;
    background: var(--marroncito);
  } 

    #input-contact::placeholder {
    color: var(--background);
    
    }

    #input-contact:nth-last-child(3) {
    padding: 50px 25px;
    }

    .btn-footer {
        display: flex;
        margin: 0 auto;
        border: none;
        cursor: pointer;
        font-family: 'Lato',sans-serif;
        padding: 10px 35px;
        border-radius: 5px;
        font-weight: 600;
        color: var(--text-black) ;
        transition: all 0.4s;
        }

        .footer {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            background: #3F3F3F;
            height: 350px;
        }

        .links-contacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            gap: 15px;
        }

        .links-contacto p {
            display: flex;
            justify-content: center;
            font-size: 15px;
            color: var(--background);
        }

        .btn-container a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            color: var(--background);
            font-size: 25px;
            margin-bottom: 20px;

        } 

        .btn-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 20px;
            
        }
